.col-md-6 p {
    background-color: lightblue;
    font-size: 25px;
    width: 400px;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

#foot1 {
    font-size: 20px;
    display: block;
    margin: 0 auto;
}